
.pytest_cache/
*.py[cod]
*.egg-info/
dist/
build/

.DS_Store
.Trash/
Thumbs.db

.idea/
.vscode/
__pycache__/

coverage.xml
.coverage
.noseids
.tox/
.nox/

venv/
.env

technologydynamicsasiccalc-76e05fa1a200.json